<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <title>Layouts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="empty"></div>

    <div class="topBar fixed-top container p-2">
        <div class="row">
            <div class="col-2 addFriend">
                <i class="bi bi-heart"></i>
            </div>
            <div class="col-6 searchBox">
                <div>find...</div>
                <i class="bi-search"></i>
            </div>
            <div class="col-2"></div>
            <div class="col-2 profileBox">
                <i class="bi bi-person-circle"></i>
            </div>
        </div>
    </div>

    <div class="container fixed-bottom bottomBar p-1">
        <div class="row">
            <div class="col-4 groupsBox">
                <a href="{{ url_for('views.groups') }}">
                    <i class="fa-solid fa-people-group"></i>
                </a>
            </div>
            <div class="col-4 activeBottomSection contactsBox">
                <a href="#">
                    <i class="bi bi-person-lines-fill"></i>
                </a>
            </div>
            <div class="col-4 starredBox">
                <a href="{{ url_for('views.starred') }}">
                    <i class="bi bi-star-fill"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="card personCard container m-auto px-3 mt-2">
        <div class="row no-gutters">
            <div class="col-3 avatarBox">

                <div class="avatarImageBox">
                    <!-- <img src="..." class="card-img" alt="..."> -->
                    <i class="bi bi-person-circle cardAvatar"></i>
                </div>
            </div>
            <div class="col-9">
                <div class="card-body">
                    <div class="currentClassBox">
                        <div class="ccSub">
                            Technical English
                        </div>
                        <div class="ccTimeLoc">
                            <div class="ccTime">
                                08:00-09:40
                            </div>
                            <div class="ccLoc">
                                SJT 720
                            </div>
                        </div>
                    </div>
                    <div class="nextClassBox mt-2">
                        <div class="nextClassText">next: 10:00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card personCard container m-auto px-3 mt-2" aria-hidden="true">
        <div class="row no-gutters">
            <div class="col-3 avatarBox">

                <div class="avatarImageBox">
                    <!-- <img src="..." class="card-img" alt="..."> -->
                    <i class="bi bi-person-circle cardAvatar"></i>
                </div>
            </div>
            <div class="col-9">
                <div class="card-body">
                    <div class="currentClassBox placeholder-glow">
                        <div class="ccSub placeholder">
                            Technical English
                        </div>
                        <div class="ccTimeLoc">
                            <div class="ccTime mt-1 placeholder">
                                00:00-00:00
                            </div>
                            <div class="ccLoc mt-1 placeholder">
                                00:00-00:00
                            </div>
                        </div>
                    </div>
                    <div class="nextClassBox placeholder-glow mt-2">
                        <div class="nextClassText placeholder">next: 10:00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card personCard container m-auto px-3 mt-2" aria-hidden="true">
        <div class="row no-gutters">
            <div class="col-3 avatarBox">

                <div class="avatarImageBox">
                    <!-- <img src="..." class="card-img" alt="..."> -->
                    <i class="bi bi-person-circle cardAvatar"></i>
                </div>
            </div>
            <div class="col-9">
                <div class="card-body">
                    <div class="currentClassBox placeholder-glow">
                        <div class="ccSub placeholder">
                            Technical English
                        </div>
                        <div class="ccTimeLoc">
                            <div class="ccTime mt-1 placeholder">
                                00:00-00:00
                            </div>
                            <div class="ccLoc mt-1 placeholder">
                                00:00-00:00
                            </div>
                        </div>
                    </div>
                    <div class="nextClassBox placeholder-glow mt-2">
                        <div class="nextClassText placeholder">next: 10:00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card personCard container m-auto px-3 mt-2" aria-hidden="true">
        <div class="row no-gutters">
            <div class="col-3 avatarBox">

                <div class="avatarImageBox">
                    <!-- <img src="..." class="card-img" alt="..."> -->
                    <i class="bi bi-person-circle cardAvatar"></i>
                </div>
            </div>
            <div class="col-9">
                <div class="card-body">
                    <div class="currentClassBox placeholder-glow">
                        <div class="ccSub placeholder">
                            Technical English
                        </div>
                        <div class="ccTimeLoc">
                            <div class="ccTime mt-1 placeholder">
                                00:00-00:00
                            </div>
                            <div class="ccLoc mt-1 placeholder">
                                00:00-00:00
                            </div>
                        </div>
                    </div>
                    <div class="nextClassBox placeholder-glow mt-2">
                        <div class="nextClassText placeholder">next: 10:00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card personCard container m-auto px-3 mt-2" aria-hidden="true">
        <div class="row no-gutters">
            <div class="col-3 avatarBox">

                <div class="avatarImageBox">
                    <!-- <img src="..." class="card-img" alt="..."> -->
                    <i class="bi bi-person-circle cardAvatar"></i>
                </div>
            </div>
            <div class="col-9">
                <div class="card-body">
                    <div class="currentClassBox placeholder-glow">
                        <div class="ccSub placeholder">
                            Technical English
                        </div>
                        <div class="ccTimeLoc">
                            <div class="ccTime mt-1 placeholder">
                                00:00-00:00
                            </div>
                            <div class="ccLoc mt-1 placeholder">
                                00:00-00:00
                            </div>
                        </div>
                    </div>
                    <div class="nextClassBox placeholder-glow mt-2">
                        <div class="nextClassText placeholder">next: 10:00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card personCard container m-auto px-3 mt-2" aria-hidden="true">
        <div class="row no-gutters">
            <div class="col-3 avatarBox">

                <div class="avatarImageBox">
                    <!-- <img src="..." class="card-img" alt="..."> -->
                    <i class="bi bi-person-circle cardAvatar"></i>
                </div>
            </div>
            <div class="col-9">
                <div class="card-body">
                    <div class="currentClassBox placeholder-glow">
                        <div class="ccSub placeholder">
                            Technical English
                        </div>
                        <div class="ccTimeLoc">
                            <div class="ccTime mt-1 placeholder">
                                00:00-00:00
                            </div>
                            <div class="ccLoc mt-1 placeholder">
                                00:00-00:00
                            </div>
                        </div>
                    </div>
                    <div class="nextClassBox placeholder-glow mt-2">
                        <div class="nextClassText placeholder">next: 10:00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card personCard container m-auto px-3 mt-2" aria-hidden="true">
        <div class="row no-gutters">
            <div class="col-3 avatarBox">

                <div class="avatarImageBox">
                    <!-- <img src="..." class="card-img" alt="..."> -->
                    <i class="bi bi-person-circle cardAvatar"></i>
                </div>
            </div>
            <div class="col-9">
                <div class="card-body">
                    <div class="currentClassBox placeholder-glow">
                        <div class="ccSub placeholder">
                            Technical English
                        </div>
                        <div class="ccTimeLoc">
                            <div class="ccTime mt-1 placeholder">
                                00:00-00:00
                            </div>
                            <div class="ccLoc mt-1 placeholder">
                                00:00-00:00
                            </div>
                        </div>
                    </div>
                    <div class="nextClassBox placeholder-glow mt-2">
                        <div class="nextClassText placeholder">next: 10:00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card personCard container m-auto px-3 mt-2" aria-hidden="true">
        <div class="row no-gutters">
            <div class="col-3 avatarBox">

                <div class="avatarImageBox">
                    <!-- <img src="..." class="card-img" alt="..."> -->
                    <i class="bi bi-person-circle cardAvatar"></i>
                </div>
            </div>
            <div class="col-9">
                <div class="card-body">
                    <div class="currentClassBox placeholder-glow">
                        <div class="ccSub placeholder">
                            Technical English
                        </div>
                        <div class="ccTimeLoc">
                            <div class="ccTime mt-1 placeholder">
                                00:00-00:00
                            </div>
                            <div class="ccLoc mt-1 placeholder">
                                00:00-00:00
                            </div>
                        </div>
                    </div>
                    <div class="nextClassBox placeholder-glow mt-2">
                        <div class="nextClassText placeholder">next: 10:00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="empty"></div>

</body>

</html>